* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* MENU */

#header {
    display: flex;
    width: 100%;
    background-color: #707070;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 6.7rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

.logoHeader {
    margin-left: 5.5rem;
}

.itensHeader {
    display: flex;
    gap: 3.75rem;
    margin-right: 8.125rem;
}

.letrasMenu {
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #bdd73c;
}

.letrasMenu:hover {
    color: white;
}

.icons-menu.on {
    position: fixed;
    background-color: #707070;
    width: unset;
    height: unset;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 2;
    padding: 30px;
    box-shadow: 0px 15px 10px -15px #111;
}

.button-image:hover {
    background-color: transparent;
}

.icons-menu.on #hamburguer {
    display: none;
}

#hamburguer {
    position: absolute;
    right: 5%;
    top: 10%;
    height: 100px;
}

.abreMenu {
    height: 80px;
}

.icons-menu.on #close {
    display: block;
    position: absolute;
    left: 5%;
    top: 0%;
    width: 50px;
    height: 100px !important;
}

.fechaMenu {
    height: 30px;
}

.button-image {
    background: transparent;
    border: 0;
    line-height: 0;
}

#close {
    display: none;
}

.icons-menu.on #lista {
    height: 100vh;
}

.icons-menu.on ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 2rem;
}

@media (min-width: 1000.99px) {
    #hamburguer {
        display: none;
    }
}

@media (max-width: 1270px) {

    .logoHeader {
        margin-left: 3rem;
    }

    .itensHeader {
        display: flex;
        gap: 2.5rem;
        margin-right: 2rem;
    }

}


@media (max-width: 1000px) {

    .icons-menu.on body {
        overflow: hidden;
    }

    .itensHeader {
        display: none;
    }

    .icons-menu.on .itensHeader {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 3rem;
        gap: 1rem;
        margin-right: 0;
    }

    .icons-menu.on .letrasMenu:hover {
        color: #ffffff;
    }

    .logoHeader {
        margin-left: 1rem;
    }

    .icons-menu.on .letrasMenu {
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        font-size: 1.25rem;
        color: #bdd73c;
    }
}

@media (max-width: 1000px) {
    .abreMenu {
        height: 60px;
    }
}

/* CONTEUDO GENERICO */

.titleSection {
    margin-top: 3.125rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
}

.mainColor {
    color: #bdd73c;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* PRIMEIRO CONTAINER */

.sectionMain {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.imageHome {
    width: 100%;
    height: 100vh;
}

.contentMain {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.titlePresentation {
    display: flex;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: #bdd73c;
}

.contentPresentation {
    margin-top: 1.25rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

@media (max-width: 1150px) {

    .imageHome {
        height: 80vh;
    }
}

@media (max-width: 1000px) {

    .imageHome {
        height: 30%;
    }

    .titlePresentation {
        font-size: 1.5rem;
    }

    .contentPresentation {
        font-size: 1rem;
        margin-top: 10px;
    }

    .contentMain {
        margin-top: 10%;
    }
}

@media (max-width: 700px) {

    .sectionMain {
        height: 400px;
    }

    .contentMain {
        margin-top: 20%;
        width: 100%;
        padding: 20px;
    }

    .imageHome {
        object-fit: cover;
        height: 100%;
    }
}


/* SEGUNDO CONTAINER */

.sectionSolucoes {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contentSolucoes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.cardBoxSolucoes {
    width: 18.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.2rem;
    height: 37.5rem;
    justify-content: flex-end;
}

.titleCardBox {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #404040;
}

.textoCardBox {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #707070;
}

.cardBoxContent {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    align-items: center;
}

.buttonCardBox {
    background-color: #bdd73c;
    width: 9.5rem;
    height: 2.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
}

.imagemCardBox {
    width: 15.6rem;
}


/* TERCEIRO CONTAINER */

.sectionClientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
    display: flex;
    gap: 40px;
    position: relative;
    padding-bottom: 200px;
    padding-top: 100px;
}

.cardChart {
    display: flex;
    gap: 10px;
}

.teste {
    box-shadow: 0px 10px 15px 4px #00000029;
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
}

#imageContainer {
    padding: 10px;
    opacity: 1;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


/* FOOTER */

.backgroundFooter {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.contentFooter {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatoFooter {
    color: #bdd73c;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 23px;
}

.infomacoes {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.informacoesContato {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 300px;
    width: 350px;
}

.logoFooter {
    justify-content: flex-end;
    display: flex;
    height: 300px;
    align-items: center;
}

.contato {
    display: flex;
    gap: 15px;
    align-items: center;
}

.iconeContatos {
    width: 25px;
    height: 25px;
}

.localizacao {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.direitos {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 30px;
}

.imgFooter {
    width: 15rem;
    height: 10rem;
}

@media (max-width: 450px) {
    .gps {
        width: 100%;
    }
}

@media (max-width: 700px) {

    .direitos {
        padding-top: 0px;
    }
}


/* MENU DE SOLUÇÕES  */

/* PRIMEIRO CONTAINER */

.firstSection {
    width: 100%;
    margin-top: 105px;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

.imgFirstSection {
    width: 100%;
    height: 60%;
}

.contentImgEngenharia {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 35px;
}

@media (max-width: 1000px) {
    .contentImgEngenharia {
        width: 100%;
    }
}

.titleEngenharia {
    color: #bdd73c;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.textEngenharia {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 850px) {
    .titleEngenharia {
        font-size: 25px;
    }
}

@media (max-width: 630px) {
    .titleEngenharia {
        font-size: 20px;
    }

    .contentImgEngenharia {
        gap: 15px;
    }

    .imgFirstSection {
        object-fit: cover;
        height: 350px;
    }

    .textEngenharia {
        font-size: 17px;
    }
}

/* SEGUNDO CONTAINER DO SOLUÇÕES */

.containerArquitetura {
    display: flex;
    height: auto;
    width: 100%;
    padding: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contentArquitetura {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40rem;
}

.diferentColor {
    color: #bdd73c;
}

.titleArquitetura {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #404040;
}

.textArquitetura {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #404040;
}

.titleBorder {
    border-left: 2px solid #bdd73c;
    height: 90px;
    align-items: center;
    display: flex;
    padding: 30px;
}

.containerArquiteturaEsquerda {
    flex-direction: row-reverse;
    display: flex;
    height: auto;
    width: 100%;
    padding: 50px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.contentArquiteturaEsquerda {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40rem;
    padding-left: 50px
}


@media (max-width: 1050px) {
    .contentArquiteturaEsquerda {
        width: 600px;
        padding-left: 0px;
    }

    .containerArquitetura {
        flex-direction: column;
    }

    .containerArquiteturaEsquerda {
        flex-direction: column;
    }

    .contentArquitetura {
        width: 600px;
    }
}

@media (max-width: 660px) {
    .contentArquiteturaEsquerda {
        width: 100%;
    }

    .imgArquitetura {
        width: 100%;
    }

    .contentArquitetura {
        width: 100%;
    }
}

/* TERCEIRA SECTION */

.terceiraSection {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.contentTerceiraSection {
    display: flex;
    gap: 30px;
    height: auto;
    flex-wrap: wrap;
}

.textTitulo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 290px;
}

.titleServices {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.textImage {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 320px;
}

.textServices {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #707070;
}

.checkImage {
    height: 16px;
}

.titleBorderServices {
    border-left: 2px solid #bdd73c;
    height: 60px;
    align-items: center;
    display: flex;
    padding: 30px;
}

.contentCheck {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servicos {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #404040;
}

/* PLANEJAMENTO */

.planejamentos {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.titlePlanejamento {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.sectionPlanejamento {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.contentPlanejamento {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
    align-items: center;
    height: 200px;
    justify-content: center;
}

.imgPlanejamento {
    width: 100px;
}

.imgPlanejamentoDiferent {
    height: 97px;
    width: 70px;
}

.textPlanejamento {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

@media (max-width:840px) {
    .fisrtImgPlanejamento {
        height: 600px !important;
    }
}

/* ASSESSORIA */

.contentImgAssessoria {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 35px;
}

.corRoxa {
    color: #b46495;
}

.titleBorderRoxo {
    border-left: 2px solid #b46495;
    height: 90px;
    align-items: center;
    display: flex;
    padding: 30px;
}

/* SOBRE NOS */

.textSobreNos {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.contentImgSobreNos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    height: 100%;
    gap: 35px;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-preview {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.thumbnail-preview img {
    width: 80px;
    height: 50px;
    margin: 0 5px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail-preview img:hover {
    opacity: 0.7;
}

.segundaSection {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px;
    padding-top: 100px;
    justify-content: center;
    height: auto;
    width: 100%;
}

.titleCarousel {
    display: flex;
    justify-content: center;
}

.contentCarousel {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.textCarousel {
    width: 40%;
    display: flex;
    align-items: center;
}

.blueColorText {
    color: #28a5af;
}

.titleSecondSection {
    color: #404040;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.textpadrao {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


@media (max-width: 900px) {
    .contentImgSobreNos {
        width: 100%;
    }

    .imgFirstSection {
        object-fit: cover;
    }
}

/* TERCEIRA SECTION SOBRE NOS */

.terceiraSectionSobreNos {
    display: flex;
    padding: 80px;
    gap: 150px;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.textConsultor {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    font-weight: 100;
}

.contentConsultor {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 35%;
}

.titleTerceiraSection {
    color: #404040;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.imagemConsultor {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1175px) {
    .contentConsultor {
        width: 90%;
    }


    .imgConsultor {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .terceiraSectionSobreNos {
        padding: 20px;
        padding-bottom: 80px;
        gap: 50px;
    }
}

/* QUARTA SECTION */

.sectionQuatroSobreNos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}

.contentQuartaSection {
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.imgEtextQuartaSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.titleQuartaSection {
    display: flex;
    justify-content: center;
}

.cargoEnome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.gerentes {
    color: #404040;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.nomesGerentes {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: 600px;
    font-size: 30px;
}

.ocupacaoGerentes {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

/* QUINTA SECTION */

.quintaSectionSobreNos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 80px;
    justify-content: center;
    align-items: center;
}

.contentQuintaSection {
    width: 70%;
}

.titleQuintaSection {
    display: flex;
    align-items: center;
}

.tituloQuinta {
    color: #404040;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.textQuintaSection {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

@media (max-width: 600px) {
    .quintaSectionSobreNos {
        padding: 10px;
        padding-bottom: 80px;
    }
}

/* CASES */

.contentImgCases {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
}

.titleCases {
    color: #bdd73c;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.firstSectionCases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #404040;
    width: 100%;
    height: auto;
    padding: 80px;
    gap: 100px;
}

.carouselSectionCaseBovinos {
    display: flex;
    gap: 70px;
    width: 90%;
}

.clientesBovinos {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.carouselBovinos {
    width: 600px;
    height: 500px;
}

.carouselBovinosAmarelo {
    width: 600px;
    height: 500px;
}

@media (max-width: 1350px) {
    .carouselBovinos {
        margin-top: 400px;
    }

    .carouselBovinosAmarelo {
        margin-top: 400px;
    }

    .carouselSectionCaseBovinos {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.contentBovinos {
    display: flex;
    height: 60px;
    gap: 50px;
    width: 600px;
    flex-direction: column;
}

.barraLateralCases {
    display: flex;
    align-items: center;
    border-left: 2px solid #bdd73c;
    padding-left: 20px;
    height: 100px;
}

.imgBovinos {
    height: 60px;
    width: 80px;
}

.titleBovinos {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.textBovinos {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 23px;
}

.titleEimgBonivos {
    display: flex;
    gap: 30px;
    align-items: center;
}

.owl-carousel {
    min-width: 300px;
}

.owl-theme .owl-nav [class*="owl-"],
.owl-theme .owl-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-theme .owl-nav [class*="owl-"].disabled+[class*="owl-"] {
    right: -25px;
}

.owl-theme .owl-nav [class*="owl-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.owl-theme .owl-nav .owl-prev {
    left: -30px;
    color: #bdd73c !important;
    background-color: transparent !important;
}

.carouselBovinosAmarelo .owl-theme .owl-nav .owl-prev {
    left: -30px;
    color: #ffffff !important;
    background-color: transparent !important;
}

.carouselBovinosAmarelo .owl-theme .owl-nav .owl-next {
    right: -30px;
    color: #ffffff !important;
    background-color: transparent !important;
}

.owl-theme .owl-nav .owl-next {
    right: -30px;
    color: #bdd73c !important;
    background-color: transparent !important;
}

.owl-carousel .owl-item img {
    height: 400px;
}

.titleClientesCases {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.clientesBovinos {
    align-items: center;
    display: flex;
}

.secondSectionCases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #bdd73c;
    width: 100%;
    height: auto;
    padding: 80px;
}

.barraLateralCasesSuinos {
    display: flex;
    align-items: center;
    border-left: 2px solid #a1aa27;
    padding-left: 20px;
    height: 100px;
}

.textSuinos {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 23px;
}

.terceiraSectionCases {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: auto;
    padding: 80px;
}

.titleAves {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.textAves {
    color: #404040;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 23px;
}

.titleClientesCasesAves {
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.clientesCases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.desossaImg {
    height: 40px !important;
}

.item {
    width: 500px;
    height: 450px;
}

.owl-item {
    display: flex;
    justify-content: center;
}

.owl-dots {
    top: 100%;
    left: 30%;
}

@media (max-width :650px) {
    .owl-theme .owl-nav .owl-prev {
        left: 70px;
    }

    .owl-theme .owl-nav .owl-next {
        right: 70px;
    }
}

@media (max-width :650px) {
    .item {
        width: 300px;
        height: 280px;
    }

    .contentBovinos {
        width: 450px;
    }
}

@media (max-width :500px) {
    .owl-theme .owl-nav .owl-prev {
        left: 110px;
    }

    .owl-theme .owl-nav .owl-next {
        right: 110px;
    }

    .contentBovinos {
        width: 300px;
    }

    .carouselBovinos {
        margin-top: 600px;
        width: 380px;
    }

    .firstSectionCases {
        gap: 0px;
    }

    .secondSectionCases {
        gap: 0px;
    }

    .terceiraSectionCases {
        gap: 0px;
    }
}

@media (max-width :450px) {

    .contentBovinos {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .owl-theme .owl-nav .owl-prev {
        left: 70px;
    }

    .owl-theme .owl-nav .owl-next {
        right: 70px;
    }
}

.contentImgClientes {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 50px;
    width: 80%;
}

.textImgClientes {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.sectionSecond {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px;
}

.ClientesEpais {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.titlePais {
    color: #a1aa27;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.boxClientes {
    -webkit-box-shadow: 0px 3px 5px 1px rgba(87, 86, 87, 0.5);
    -moz-box-shadow: 0px 3px 5px 1px rgba(87, 86, 87, 0.5);
    box-shadow: 0px 3px 5px 1px rgba(87, 86, 87, 0.5);
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.clientesDoPais {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.sectionContatos {
    width: 100%;
    height: auto;
    background-image: url(../Projeto/imagens/Contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
}

.contentContatos {
    display: flex;
    flex-direction: column;
    padding: 200px;
    padding-top: 100px;
    gap: 100px;
    justify-content: center;
}

.apresentacaoContato {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 80px;
}

.titleContatos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.titleCtt {
    color: #bdd73c;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.textContatos {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
}

.infoContato {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.buttonContatos {
    background-color: transparent;
    border: 2px solid;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #bdd73c;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.textEiconeContato {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gpsContato {
    width: 100%;
    height: 500px;
}

.todosContatos {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media (max-width: 1350px) {
    .contentContatos {
        padding: 20px;
        padding-top: 70px;
    }
}

.owl-carousel {
    width: 100%;
}

.owl-carousel-2 .owl-item img {
    display: flex;
    width: 100%;
    height: auto;
}

ul li ul.dropDown li {
    display: block;
}

ul li ul.dropDown {
    width: 200px;
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #707070;
    height: 230px;
}

ul li:hover ul.dropDown {
    display: flex;
    padding: 20px;
    padding-top: 40px;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 1000px) {
    ul li ul.dropDown {
        position: relative;
        font-size: 30px;
        display: flex !important;
        align-items: flex-start;
        justify-content: flex-start !important;
        height: auto;
        gap: 20px;
        width: 150px !important;
        margin-left: 90px;
    }

    ul li:hover ul.dropDown {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 0px;
        padding: 0px;
    }


    .dropdownMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .displayNone {
        display: none;
    }

    .icons-menu.on ul {
        gap: 20px;
        width: 100%;
        margin-top: 0px;
    }

    .dropDown {
        color: #cff708 !important;
        font-weight: lighter !important;
        font-size: 15px !important;
    }
}

.swiper {
    width: 600px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 600px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divdocarrosel {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

@media (max-width: 700px) {
    .swiper {
        width: 300px !important;
    }

    .mySwiper {
        width: 300px !important;
    }

    .textCarousel {
        width: 100%;
    }
}

.iconesContatos {
    width: 25px;
    height: 22px;
}

.envelope {
    height: 15px;
    width: 23px;
}

@media (min-width: 650px) {
    .titlePlanejamento {
        width: 55%;
    }
}

.whiteColor {
    color: #ffffff !important;
}

.divdocarrosel.off {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 100px;
    line-height: 0;
}

#buttonModal {
    background-color: transparent;
}

.fechamodal.off {
    position: fixed;
    top: 20%;
    left: 5%;
    z-index: 100;
    background-color: transparent;
    line-height: 0;
    display: block;
}

.fechamodal {
    display: none;
}

.videoPlanejamentoCSS {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:600px) {

    .fechamodal.off {
        left: 15%;
    }


}

@media (max-width:850px) {

    .videoPlanejamentoCSS {
        height: 450px;
    }

    .imgPlanejamentoimg {
        width: 200px;
    }
}

.gerente {
    padding: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.contentGerente {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.consultor {
    font-family: 'Lato', sans-serif;
    color: #28a5af;
}

.textConsultor {
    font-family: 'Lato', sans-serif;
    color: #707070;
}

@media (max-width:850px) {
    .contentGerente {
        width: 100%;
    }

    .imgConsultor {
        width: 90%;
    }

    .gerente {
        padding: 30px;
    }
}